/* Projects */
.projects-container {
  padding: 2rem 0;
}

.projects-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.project-card {
  border: 1px solid #e6e6e6;
  padding: 20px;
  border-radius: 5px;
}

.project-card .project-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.project-card .folder-icon {
  font-size: 35px;
  color: #ffcc17;
}

.project-header .small-icons {
  display: flex;
  gap: 0 5px;
}

.project-card .small-icons a {
  margin-right: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.project-card .small-icons a:hover {
  color: #ffcc17;
}

.project-card .project h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-card .project p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #b3b3b3;
}
